/* Tabs */

.nav-tabs{
    background-color: #083A54 !important;
    border-radius: 8px;
}
.nav-tabs .nav-item  button{
    border-radius: 0 !important;
    color: #fff;
    border-radius: 8px !important;
    font-size: 20px;
}
.nav-tabs .nav-item  button:hover{
    border-color:#23BAB1;
}
.nav-tabs .nav-item .active{
   background-color: #23BAB1 !important;
   border-color:#23BAB1;
   color: #fff;
}
.nav-tabs .nav-item{
    padding: 6px 6px 7px 6px !important;
}
/* p{
   word-spacing: 1px; 
} */
.bg_success{
    background-color: #CEFFCE;
}
.bg_danger{
    background-color: #edc0c0;
}

table > thead > tr > th{
    background-color: #083A54 !important;
    color: #fff !important;
    text-align: center;
    vertical-align: middle;
}
td{
   vertical-align: middle;
}
table{
    width: 100% !important;
    overflow-x: auto !important;
    max-width: 100% !important;
}

/* Media Queries */
@media screen and (max-width: 600px) {
    .mobile_width{
        width: 100% !important;
    }
}